.fondorojo{
    background-color: red;
}
.fondoverde{
    background-color: green;
}
.fondoazul{
    background-color: blue;
}
.verde{
    color: green;
}
.rojo{
    color: red;
}
.azul{
    color: blue;
}
.naranja{
    color: orange;
}
.purple{
    color: purple;
}
.olive{
    color: olive;
}
.fuchsia{
    color: fuchsia;
}
.green{
    columns: green;
}